{% extends 'base.html.twig' %}

{% block title %}Mentions légales{% endblock %}

{% block body %}
<body>
    <h1>Mentions légales</h1>
    <section>
        <p><small>Le site Internet the_district.com est la propriété exclusive de Aurélien B.</small></p><br><br>
        <p><small>Identifiant siret : XXXXXXXXXXXXXX</small></p>
        <p><small>Propriétaire : Aurélien B</small></p>
        <p><small>E-mail : the-district@hotmail.com</small></p>
        <p><small>Téléphone : XX XX XX XX XX</small></p><br>
        <p><small>Conception du site internet : Aurélien B</small></p><br>
        <p><small>Le site est hébergé par la société XXXXXXX, 777 XXXXX XXXXXX XXXXX, 99999 XXXXX, Capital de 100 000€, Siret : XXXXXXXXXXXXXX</small></p>
    </section>
</body>
{% endblock %}
